@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-background: white;
  --form-background: white;
  --input-background: #ebebeb;
  --input-border: black;
  --logo: #80a7fc;
  --text: black;
}
.darkTheme {
  --body-background: #0e0e10;
  --form-background: #1f1f23;
  --input-background: #3d3d3f;
  --input-border: var(--logo);
  --text: white;
}
body {
  color: var(--text);
  font-family: "Calibre";
  background: var(--body-background);
}
h1 {
  margin: .5em;
  font-size: 2.5em;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--form-background);
  border-radius: .5em;
  padding: 1.5em;
}
.center {
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
}
label {
  font-size: 20px;
  margin-top: .5em;
}
input {
  width: 19em;
  height: 2em;
  padding: .5em;
  font-size: 20px;
  color: var(--text);
  border: transparent;
  margin-bottom: .5em;
  border-radius: .25em;
  background: var(--input-background);
}
input:focus {
  outline: none;
  background: var(--body-background);
  border: solid 2px var(--input-border);
}
.red {
  --input-border: #d93025;
}
.inputPadding {
  padding-right: 3.5em;
}
.passwordContainer {
  position: relative;
}
.passwordToggle {
  background: transparent;
  font-family: "Calibre";
  padding: .15em .7em;
  padding-top: .45em;
  position: absolute;
  color: var(--text);
  font-size: 20px;
  border: none;
  right: .1em;
  top: .1em;
  cursor: pointer;
}
textarea {
  resize: none;
}
.submit {
  width: 4em;
  margin: .5em;
  color: white;
  margin-bottom: 1em;
  font-family: "Calibre";
  background: var(--logo);
  cursor: pointer;
}
.submit:focus {
  border: none;
  background: var(--logo);
}
.submit:hover {
  background: #5e91ff;
}
.submit:active {
  background: #407cff;
}
.error {
  width: 23.75em;
  color: #d93025;
}
.hidden {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.colorInput {
  padding: 0 .1em;
  cursor: pointer;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--logo) 0 0 3em;
}
li {
  margin: 1em;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navLogo {
  font-size: 3em;
  position: relative;
  font-weight: bolder;
  text-decoration: none;
}
.navLogo::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -17px;
  background: var(--logo);
  transition: 500ms ease-in-out;
}
.navLogo:hover::before {
  width: 100%;
}
.navButton, .navLogo {
  font-family: "Pathway Gothic One", sans-serif;
  text-shadow: 1px 1px 1px var(--logo);
  text-transform: uppercase;
  color: var(--logo);
  cursor: pointer;
}
.navButton {
  padding: .5em;
  font-size: 2em;
  margin: -1em .25em;
  background: transparent;
  border: 1px solid var(--logo);
  box-shadow: inset rgba(128, 167, 252, 0.5) 0 0 1em;
}
.navButton:hover {
  box-shadow: inset rgba(128, 167, 252, 0.5) 0 0 2em;
}
.navButton:active {
  box-shadow: inset rgba(128, 167, 252, 0.5) 0 0 3em;
}
.link {
  color: var(--logo);
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.navIcon {
  box-shadow: inset var(--logo) 0 0 1em;
  background: transparent;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
  margin: .6em 0;
  margin-left: 1em;
  cursor: pointer;
}
.menu {
  top: 6em;
  right: 1em;
  opacity: 0;
  width: 200px;
  padding: .5em;
  color: var(--text);
  position: absolute;
  border-radius: .5em;
  pointer-events: none;
  background: var(--form-background);
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.25);
}
.dropdown.active > .menu {
  opacity: 1;
  pointer-events: auto;
}
.menu button {
  background: transparent;
  border-radius: .5em;
  color: var(--text);
  padding: 1em;
  border: none;
  width: 100%;
  cursor: pointer;
}
.menu button:hover {
  background: var(--input-background);
}