@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-background: #fafafa;
  --nav-background: white;
  --nav-shadow: rgba(0, 0, 0, .1);
  --menu-background: white;
  --input-background: #ebebeb;
  --input-border: black;
  --errorRed: #d93025;
  --logo: #80a7fc;
  --text: black;
}
.darkTheme {
  --body-background: #0e0e10;
  --nav-background: #18181b;
  --nav-shadow: rgba(0, 0, 0, 1);
  --menu-background: #1f1f23;
  --input-background: #3d3d3f;
  --input-border: var(--logo);
  --text: white;
}
body {
  color: var(--text);
  font-family: "Calibre";
  background: var(--body-background);
}
h1 {
  margin: .5em;
  font-size: 2.5em;
}
form {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--nav-background);
  border-radius: .5em;
  padding: 1.5em;
}
.closeContainer {
  top: 1em;
  right: 1em;
  position: absolute;
}
.close {
  border: none;
  padding: 1.25em;
  position: relative;
  border-radius: .4em;
  background: transparent;
  cursor: pointer;
}
.close:hover {
  background: var(--input-background);
}
.close::before, .close::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 9px;
  width: 15px;
  height: 2px;
  background: var(--text);
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
.center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
}
label {
  font-size: 20px;
  margin-top: .5em;
}
input {
  width: 19em;
  height: 2em;
  padding: .5em;
  font-size: 20px;
  color: var(--text);
  border: transparent;
  margin-bottom: .5em;
  border-radius: .25em;
  background: var(--input-background);
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  background: var(--body-background);
  border: solid 2px var(--input-border);
}
.inputPadding {
  padding-right: 3.5em;
}
.passwordContainer {
  position: relative;
}
.passwordToggle {
  background: transparent;
  font-family: "Calibre";
  padding: .15em .7em;
  padding-top: .45em;
  position: absolute;
  color: var(--text);
  font-size: 20px;
  border: none;
  right: .1em;
  top: .1em;
  cursor: pointer;
}
textarea {
  padding: .5em;
  height: 10em;
  width: 35em;
  resize: none;
}
.submit {
  width: 4em;
  margin: .5em;
  color: white;
  margin-bottom: 1em;
  font-family: "Calibre";
  background: var(--logo);
  cursor: pointer;
}
.submit:hover {
  background: #5e91ff;
}
.submit:active {
  background: #407cff;
}
.loginError {
  color: var(--errorRed);
  padding: 1em;
  padding-bottom: .5em;
  margin-top: -.5em;
  margin-bottom: .5em;
  border: 1px solid var(--errorRed);
  border-radius: .3em;
  background: rgba(217, 49, 37, 0.1);
}
.signupError {
  width: 23.75em;
  color: var(--errorRed);
}
.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.colorInput {
  padding: 0 .1em;
  cursor: pointer;
}
nav ul {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-background);
  box-shadow: var(--nav-shadow) 0 0 10px;
}
li {
  margin: 1em;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navLogo {
  font-size: 3em;
  color: var(--logo);
  position: relative;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px var(--logo);
  font-family: "Pathway Gothic One", sans-serif;
  cursor: pointer;
}
.navLogo::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -17px;
  background: var(--logo);
  transition: 500ms ease-in-out;
}
.navLogo:hover::before {
  width: 100%;
}
.navButton {
  color: white;
  padding: 1em;
  font-size: 1em;
  margin: -1em .25em;
  font-family: "Inter";
  border: none;
  border-radius: .25em;
  background: var(--logo);
  cursor: pointer;
}
.link {
  color: var(--logo);
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.navIcon {
  box-shadow: inset var(--logo) 0 0 1em;
  background: transparent;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
  margin: .6em 0;
  margin-left: 1em;
  cursor: pointer;
}
.menu {
  top: 6em;
  right: 1em;
  opacity: 0;
  width: 200px;
  padding: .5em;
  color: var(--text);
  position: absolute;
  border-radius: .4em;
  pointer-events: none;
  background: var(--menu-background);
  box-shadow: var(--nav-shadow) 0 0 10px;
}
.dropdown.active > .menu {
  opacity: 1;
  pointer-events: auto;
}
.menu button {
  background: transparent;
  border-radius: .4em;
  color: var(--text);
  padding: 1em;
  border: none;
  width: 100%;
  cursor: pointer;
}
.menu button:hover {
  background: var(--input-background);
}