@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #aac1ff;
  --darkBlue: #7197ff;
  --lightBlue: #e3f0ff;
}
body {
  background: var(--blue);
}
h1 {
  color: white;
  font-size: 3em;
  margin-bottom: .5em;
  font-family: "Calibre";
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--darkBlue);
  border-radius: .5em;
  padding: 1.5em;
  margin: 2em;
}
textarea {
  resize: none;
  width: 19em;
  height: 9em;
}
textarea, input {
  padding: .5em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: solid 1px rgba(0, 0, 0, 0.5);
}
textarea:focus, input:focus {
  outline: none;
  border: solid 2px rgba(0, 0, 0, 0.75);
}
input {
  width: 19em;
  height: 2em;
  line-height: normal;
}
.colorInput {
  padding: 0 .1em;
  background: white;
  cursor: pointer;
}
label {
  margin: .2em;
}
.submit {
  margin: 0;
  width: 4em;
  background: white;
  cursor: pointer;
}
textarea, input, label {
  font-family: "calibre";
  font-size: 20px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--lightBlue);
}
li {
  list-style: none;
  margin: 1em;
}
.navLink {
  position: relative;
  font-size: 3em;
}
.navLink::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -17px;
  background: var(--darkBlue);
  transition: 500ms ease-in-out;
}
.navLink:hover::before {
  width: 100%;
}
.navButton, .navLink {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  color: var(--darkBlue);
  text-shadow: 1px 1px 1px var(--blue);
}
.navButton {
  padding: .5em;
  font-size: 2em;
  margin-left: .5em;
  border-radius: .2em;
  box-shadow: inset var(--blue) 0 0 1em;
}
.navButton:hover {
  box-shadow: inset var(--blue) 0 0 2em;
}
.center {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}